.vidioitem_wrapper {
  padding: 20px 0px 8px 0px;
  max-width: 750px;

  h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: var(--white-color);
  }
}

.vidioitem_base {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vidioitem_base_view {
  display: flex;
  align-items: center;
  p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: var(--gray-color);
  }
}

.vidioitem_like {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;

  &_item {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--white-color);
    }
  }
}

.icon {
  color: white;
}

.vidioitem_info {
  max-width: 750px;
}

.vidioitem_info_item-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    border-radius: 2px;
    padding: 10px 16px;
    width: 116px;
    height: 36px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
    background: #c00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
  }

  &_info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-user {
      display: flex;
      flex-direction: column;

      h3 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: var(--white-color);
      }

      p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        color: var(--gray-color);
      }
    }
  }
}

.vidioitem_info_item-2 {
  margin-top: 15px;
  padding-left: 30px;
  color: white;

  p:nth-child(1) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white-color);
  }

  p:nth-child(2) {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--gray-color);
    margin-top: 10px;
    cursor: pointer;
  }
}

.cc {
  cursor: pointer;
}

.trending-videos {
  display: flex;
  flex-direction: column !important;
  gap: 10px;
  margin-top: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  @media (max-width: 768px) {
    
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      position: static;
    
  }
  @media (max-width: 1376px) and (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    position: static;
}
}


