.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 50px;
  background-color: #151414;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header_actions {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header_toggler {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;

  i {
    color: white;
  }
}

.header_search {
  max-width: 500px;
  width: 100%;

  form {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }
}
.icons {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}
.you_icon {
  font-size: 25px !important;
  color: white;
  cursor: pointer;
}
