.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  border-bottom: 1px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 9999;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.header_icon {
  display: flex;
  align-items: center;
  z-index: 999;
  img {
    height: 25px;
  }

  .header_toggler {
    background: none;
    border: none;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    i {
      color: white;
      margin-right: 20px;
    }
    @media (max-width: 600px) {
      margin-right: 0;
    }
  }
}

.header_search {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-left: 10px;

  @media (max-width: 600px) {
    margin-left: 0;
    margin-top: 10px;
  }

  input {
    width: 100%;
    max-width: 500px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;

    @media (max-width: 600px) {
      max-width: 100%;
    }
  }
}
