:root {
  --background-color: #222;
  --white-color: #fff;
  --gray-color: #aaa;
  --background-color-2: #121212;
  --border-color: #303030;
  --black: #000;
}
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @media only screen and (max-width: 768px) {
    padding: 0 15px;
  }

  @media only screen and (max-width: 475px) {
    padding: 0 10px;
  }
}

.bar_wrapper {
  display: flex;
  position: relative;
  padding-left: 240px;
  transition: padding-left 0.5s ease;

  @media screen and (max-width: 1200px) {
    padding-left: 0;
  }
}

.open {
  padding: 0;
}
.load {
  background-color: black;
}
